__pycache__/
*.pyc
.env
venv/
.vscode/
.DS_Store

# Ignore all model results
outputs/
*.csv
*.png
*.jpg

# Machine Learning Artifacts
logs/
ppo_manning_tensorboard/
saved_models/
checkpoints/
*.pkl
*.zip