__pycache__/
*.pyc
.env
venv/
.vscode/
.DS_Store
tmp/
*.synctex.gz

# Ignore all model results
outputs/
*.csv
*.png
*.jpg
!docs/figures/viability/*.png

# Machine Learning Artifacts
logs/
ppo_manning_tensorboard/
saved_models/
checkpoints/
*.pkl
*.zip
